/* You can add global styles to this file, and also import other style files */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html, body { height: 100%; }
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

  .link {
    color: #3f51b5
  }

  h4 a:hover {
    color: #3f51b5
  }

  h4 a:active {
    color: #3f51b5
  }

  h4 a:visited {
    color: #3f51b5
  }